@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include gradient;

    li {
        padding: 0 0.7rem;
        a {
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}

.navbar-brand {
    img {
        height: 48px;
    }
}
