@use 'custom';

// import the components

@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';

// import the section
@use 'sections/navbar';
@use 'sections/intro-section';
@use 'sections/companies';
@use 'sections/faq';
@use 'sections/services';
@use 'sections/testimonials';
@use 'sections/portfolio';
@use 'sections/get-started';
@use 'sections/footer';
